@charset "UTF-8";
body{
 background:#222;
 color:#fff;
 padding:30px 20px 20px 30px;
 line-height:1.4;
 font-family: '나눔 고딕';
}
.tower{
 display: inline-block;
 background-color: grey;
 left: 320px;
 position: relative;
}
.floor {
 width: 300px;
 height: 100px;
 background-color: pink;
 margin:10px 10px 10px 10px;
 font-size:2em;
 font-weight:bold;
 cursor: pointer;
 position: relative;
 text-align: right;
 padding-right: 10px;
}
.elevator {
 width: 300px;
 height: 100px;
 margin: -10px 10px 10px 10px;
 background-color: skyblue;
 position: absolute;
 padding-left: 10px;
 font-size:2em;
 font-weight:bold;
 cursor: default;
}
#f1 , .elevator{display: inline-block;}
.elevator{position:absolute;
		  top:690px; left:320px;}
		  
.buttons{width: 100px;
 margin: 10px;
 background-color:skyblue;
 position: absolute;
 left: 440px;
 padding: 10px;
 font-weight:bold;
 text-align: center;}
 
 .buttons button{display:block; 
 				 width:80px;
 				 margin: 0 auto;
 				 font-size:15px;}
 