@charset "UTF-8";


body{
	margin:10px;
	color:#949087; 
	font-family: '굴림';
	background-image:url("img/ㅋ.png");
}

header{
	max-width: 1000px;
	margin: 0 auto;
	background-image:url("img/header.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 70px;
}
.page_title{
	font-size: 30px; font-family: '굴림';
	text-align: center;
	margin-bottom: 10px;
}
.page_desc{
	font-size: 15px; font-family: '굴림';
	text-align: center;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	background-color: white;
	border-radius: 0 0 10px 10px;
}







.post_title{
	padding-bottom: 10px;
	background-image: linear-gradient(45deg , #fff 30% , #ccc 30% , #ccc 50% , #fff 50% , #fff 80% , #ccc 80% ,#ccc 100% );
	background-size: 6px 6px;
	margin-bottom: 1.5rem;
}

.post_title a{
	color:#949087;
	text-decoration: none;
}

.post_title h2{
	background-color: white;
	padding: 0 0.5rem 0.875rem;
	font-size: 1.5rem;
	font-family: '굴림';
	font-weight: 500;
	line-height: 1.5;
}

.post_img{
	width:100%;
	height: 260px;
	border-radius:40% 70% 50% 30% / 50%;
	object-fit:cover;
}

.post_thumb{
	position: relative;	
}


.btn a{
	color: #fff;
	padding: 10px 20px;
	background-color: #eda1a1;
	box-shadow: 0 0 0 5px #eda1a1;
	border: 2px dashed #e38787;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}
.btn a:hover{
	color: #fff;
	background-color: #e38787;
	box-shadow: 0 0 0 5px #e38787;
	border: 2px dashed #eda1a1;
}
	
	
article ul li::before{
	content:'';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #93d8d0;
	display: inline-block;
	margin: 0 8px 2px 0;
}	
ol li{counter-increment: list;}
article ol li::before{
	content:counter(list);
	color:#93DF88;
	display: inline-block;
	margin-right: 8px;
}



article blockquote{
	position: relative;
	padding: 2rem;
}
article blockquote::before,
article blockquote::after{
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
}

article blockquote::before{
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	top: 0;
	left: 0;
}
article blockquote::after{
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	bottom: 0;
	right: 0;
}

.pagenation{
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans KR' , sans-serif;
	font-size: 1.5rem;
	text-align: center;
}
.pagenation a:hover{
	background-color: #93d8d0;
	color:#fff;
}

.pagenation a,
.pagenation .current{
	border-radius: 50%;
	padding-top: 4px;
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0 6px;
}

.pagenation .current{
	background-color: #ccc;
	color: #fff;
}

.side_box{
	margin-bottom: 4rem;
	border: 1px solid #ccc;
	outline: 2px solid #ccc;
	outline-offset:4px;
	border-radius: 6px;
	padding: 0.875rem;
	position: relative;
}

.side_box::before{
	display: block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	background: #fff;
	position: absolute;
	top: -1rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	font-family: 'Font Awesome 5 pro';
	font-weight: 900;
	color: #949087;
	font-size: 1.5rem;
	content: '\f1b0';	
}


footer{
	background: #949087;
	text-align: center;
	padding: 3rem;
}
footer ul{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
footer li{margin: 0 12px;}
footer a{color: #fff;}
footer a:hover{color: #c7c3ba;}
footer small{color:#c7c3ba; font-size: .875rem;}




@media(min-width:600px){
	.container{
		display: flex;
		justify-content: space-between;
}
	main{
		width: 68%;
	}
	aside{
		width: 26%;
	}
	.post_img{
		width: 220px;
		height: 180px;
	}
	.post_thumb{
		shape-outside:circle();
		float:left;
		margin: 0 3rem 1rem 0;
	}
	.popular-posts{
		position: sticky;
		top:1rem;
	}




}
