@charset "UTF-8";

body{
	background-image: url("chapter2image/2.png") , url("chapter2image/1.png") ;
	background-position: left top , right top ;
	background-repeat: no-repeat;
	text-align: center;
}