@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.all{
	overflow: auto;
	scroll-snap-type: y mandatory;
	height: 100vh;
	font-family: 'GmarketSansMedium';
}

.header{
	scroll-snap-align: start;
	height: 50vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("img/main.png");
	text-align: center;
	color:white;
	font-size: 10vh;
}
.header h1{padding-top: 20vh;}


.one{
	scroll-snap-align:center;
	height: 80vh;
	padding: 6vh;
	display: flex;
}
.imgs{display: flex;}

.one img{
	padding: 1vh;
	height : 60vh;
	width: 70vh;
}

.one p{
	padding: 1vh;
	width: 70vh;
}
.one map{ width:50vh; height: 15vh;}
.one h3{padding: 1vh;
		font-weight: 900;}





